body {
  font-family: tajawal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body .body {
  position: relative;
  width: 428px;
  height: 100vh;
  min-height: 100vh;
  margin: auto;
  overflow: hidden;
}

@media (max-width: 767px) {
  body .body {
    width: 100%;
  }
}

html {
  scrollbar-width: thin;
  scrollbar-color: #b7b7b7 #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

* {
  outline: none !important;
}

*::-webkit-scrollbar {
  background: #fff;
  width: 0;
  height: 0px;
}

*::-webkit-scrollbar-thumb {
  background: #b7b7b7;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 20px;
}

.overflow {
  overflow: hidden !important;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-ExtraLight.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-ExtraLight.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Light.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Light.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Regular.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Regular.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Medium.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Medium.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Bold.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Bold.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-ExtraBold.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-ExtraBold.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Black.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Black.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.splash {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#248387), to(#69bec5));
  background: linear-gradient(180deg, #248387 0%, #69bec5 100%);
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  z-index: 9999999999;
}

.splash .splash-img {
  height: 731px;
  width: 732px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.splash .splash-img .img {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10%;
}

.splash .splash-img img {
  width: 250px;
  position: relative;
  z-index: 2;
}

.splash .splash-img::after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 732px;
  height: 731px;
  background: #000000;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  opacity: 0.2;
  position: absolute;
  bottom: -27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#248387), to(#69bec5));
  background: linear-gradient(180deg, #248387 0%, #69bec5 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 33px 0;
}

.home .header div {
  min-width: 33%;
}

.logo {
  width: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 100%;
  height: auto;
}

.header-ico {
  font-size: 27px;
  color: #fff;
  background-color: transparent;
  border: none;
  text-decoration: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-left: 5px;
}

.header-ico:hover {
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.header-ico:last-of-type {
  margin: 0;
}

.header-right-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-left-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-head {
  font-size: 21px;
  color: #fff;
  font-weight: 700;
  margin: 0;
  margin-right: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999998;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

nav {
  position: absolute;
  top: 0;
  right: -350px;
  bottom: 0;
  height: 100vh;
  overflow: hidden;
  width: 346px;
  background: #248387;
  border-radius: 50px 0px 0px 50px;
  z-index: 9999999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav.active {
  right: 0;
  opacity: 1;
  visibility: visible;
}

nav .nav-scroll {
  padding: 75px 40px 30px;
  max-height: 100vh;
  overflow: auto;
}

nav .nav-scroll::-webkit-scrollbar {
  background: #248387;
  width: 0;
}

nav hr {
  border: none;
  margin: 0;
  width: 100%;
  height: 1px;
  background-color: #b7b7b7;
  margin: 12px 0;
}

nav .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

nav .user-img {
  width: 128px;
  height: 128px;
  border: 1px solid #69bec5;
  border-radius: 50%;
  padding: 7px;
  overflow: hidden;
}

nav .user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

nav .user-name {
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 13px;
}

nav .user-tel {
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
}

nav ul {
  padding: 19px 0 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  margin-bottom: 19px;
}

nav ul li:last-of-type {
  margin: 50px 0 0;
}

nav ul li:last-of-type a {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

nav a i {
  font-size: 21px;
  margin-left: 14px;
}

nav.white-nav {
  background: #fff;
}

nav.white-nav .user-name {
  color: #707070;
}

nav.white-nav .user-tel {
  color: #707070;
}

nav.white-nav a {
  color: #707070;
}

nav.white-nav a i {
  color: #248387;
}

.close-btn {
  position: absolute;
  top: 32px;
  left: 41px;
  font-size: 20px;
  color: #707070;
  background-color: transparent;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.close-btn:hover {
  color: #69bec5;
}

.posts {
  margin-top: 24px;
}

.posts .day {
  position: relative;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.posts .day::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  content: "";
  height: 1px;
  background-color: #b7b7b7;
}

.posts .day span {
  width: 47px;
  color: #707070;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f5f5;
  z-index: 2;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.post .post-icon {
  font-size: 28px;
  color: #248387;
  margin-top: 8px;
  margin-left: 12px;
}

.post .post-content {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  overflow: hidden;
}

.post .post-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.post .body-text {
  padding: 18px 20px;
}

.post .body-img {
  width: 90px;
  aspect-ratio: 1;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 15px 0px 0px 0px;
}

.post .body-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post .post-name {
  margin: 0;
  color: #707070;
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.post .post-name:hover {
  color: #248387;
}

.post .time {
  margin: 0 0 0;
  color: #989898;
  font-size: 9px;
  line-height: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.post .post-tools {
  margin: 0 24px;
  padding: 11px 25px;
  border-top: 1px solid #dcdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post .post-tools a {
  font-size: 18px;
  color: #248387;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.post .post-tools a:hover {
  color: #69bec5;
}

.pop-filters {
  padding: 60px 40px;
  border-radius: 50px 50px 0px 0px;
  position: absolute;
  bottom: 0;
  bottom: -85vh;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 9999999;
  max-height: 85vh;
  overflow-y: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pop-filters.active {
  bottom: 0;
}

.pop-filters::-webkit-scrollbar {
  background: #248387;
  width: 0;
}

.pop-filters .checks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pop-filters .label {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 30px 0 0;
}

.pop-filters .label .mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 17px;
  height: 17px;
  background: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  font-size: 11px;
  color: #fff;
  margin-left: 18.5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pop-filters .label .mark i {
  -webkit-transform: scale(0) rotate(360deg);
          transform: scale(0) rotate(360deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pop-filters .label input {
  display: none;
}

.pop-filters .label input:checked ~ .mark {
  background-color: #248387;
  border-color: #248387;
}

.pop-filters .label input:checked ~ .mark i {
  -webkit-transform: none;
          transform: none;
}

.pop-filters .small-checks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7px;
}

.pop-filters .check {
  font-size: 17px;
  font-weight: 500;
  color: #707070;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7px;
}

.pop-filters .check .mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 17px;
  height: 17px;
  background: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  font-size: 11px;
  color: #fff;
  margin-left: 10.5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pop-filters .check .mark i {
  -webkit-transform: scale(0) rotate(360deg);
          transform: scale(0) rotate(360deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pop-filters .check input {
  display: none;
}

.pop-filters .check input:checked ~ .mark {
  background-color: #248387;
  border-color: #248387;
}

.pop-filters .check input:checked ~ .mark i {
  -webkit-transform: none;
          transform: none;
}

.users-related {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.users-related .user {
  width: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.users-related .user .user-img {
  width: 100%;
  height: 91px;
  border-radius: 50%;
  overflow: hidden;
}

.users-related .user .user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.users-related .user.main-user {
  z-index: 9;
}

.users-related .user.main-user .user-img {
  width: 140px;
  background-color: #fff;
  height: 140px;
  border: 2px solid #248387;
  border-radius: 50%;
  padding: 8px;
  overflow: hidden;
}

.users-related .user .user-name {
  position: absolute;
  top: calc(100% + 6px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 17px;
  color: #248387;
  font-weight: 500;
}

.users-related ~ .telephone-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.users-related ~ .telephone-cont a {
  font-size: 21px;
  font-weight: 500;
  color: #707070;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.users-related ~ .telephone-cont a:hover, .users-related ~ .telephone-cont a:focus {
  color: #248387;
}

.users-related ~ .socials-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.users-related ~ .socials-cont a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 27px;
  color: #248387;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0 12.5px;
}

.users-related ~ .socials-cont a:hover, .users-related ~ .socials-cont a:focus {
  color: #69bec5;
}

.users-related ~ .extra-info {
  border-top: 1px solid #707070;
  padding: 42px 0 0;
  margin: 42px 0 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #b7b7b7;
}

.event-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 10px;
  border-bottom: 1px solid #b7b7b7;
}

.event-line label {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  padding: 0;
  margin: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.event-line .event-control {
  max-width: 55%;
  width: auto;
  min-width: 88px;
  border-color: transparent;
}

.event-line .event-control:focus {
  border-color: #248387;
}

.event-line select.event-control {
  min-width: 140px;
}

.event-line .select-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event-line .btn-cont {
  position: relative;
}

.event-line .btn-cont ~ .btn-cont {
  margin-right: 11px;
}

.event-line .btn-cont .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 35px;
  padding: 0 12px;
  background-color: rgba(36, 131, 135, 0.08);
  border-radius: 12px;
  font-size: 17px;
  font-weight: 500;
  color: #707070;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.event-line .btn-cont input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.event-line .btn-cont input:checked ~ .text {
  background-color: #248387;
  color: #fff;
}

.event-line .switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(36, 131, 135, 0.4);
  width: 29px;
  height: 16px;
  border-radius: 12px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.event-line .switcher .handel {
  width: 20px;
  height: 20px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: -4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.event-line .switcher input {
  position: absolute;
  top: 0;
  left: 0;
  right: -4px;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  cursor: pointer;
  margin: 0;
}

.event-line .switcher input:checked {
  left: -4px;
  right: 0;
}

.event-line .switcher input:checked ~ .handel {
  right: calc(100% - 16px);
  background-color: #248387;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

.event-line.invited {
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.event-line.invited label {
  color: #248387;
}

.event-line.invited .event-control {
  width: 100%;
  max-width: 100%;
  margin-right: 10px;
}

.infopop-filters {
  padding: 60px 40px;
  border-radius: 50px 50px 0px 0px;
  position: absolute;
  bottom: 0;
  bottom: -85vh;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 9999999;
  max-height: 85vh;
  overflow-y: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.infopop-filters.active {
  bottom: 0;
}

.infopop-filters::-webkit-scrollbar {
  background: #248387;
  width: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  border: none;
  border-bottom: 1px solid #b7b7b7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 16px 20px;
  color: #707070;
  transition: all 0.3s ease-in-out;
  font-size: 17px;
  font-weight: 500;
  font-family: tajawal;
  background-color: #fff;
  height: auto;
  resize: none;
}

.form-control::-webkit-input-placeholder {
  color: #b7b7b7;
}

.form-control:-ms-input-placeholder {
  color: #b7b7b7;
}

.form-control::-ms-input-placeholder {
  color: #b7b7b7;
}

.form-control::placeholder {
  color: #b7b7b7;
}

.form-control:focus {
  border-color: #248387;
}

select.form-control {
  background-position: left 20px top 50%;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-cont {
  position: relative;
}

.input-cont i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  font-size: 27px;
  color: #707070;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.input-cont input {
  -webkit-padding-start: 50px;
          padding-inline-start: 50px;
}

.input-cont input:focus ~ i {
  color: #248387;
}

.reg-link {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.reg-link a {
  color: #fff;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
}

.reg-link a::after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 1px;
  width: 100%;
  content: "";
}

.reg-link a:hover::after {
  visibility: hidden;
  opacity: 0;
}

.form-line {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.input-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-line input {
  width: 83px;
  height: 43px;
  border: 1px solid #b7b7b7;
  border-radius: 22px;
  padding: 0 20px;
  color: #707070;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 17px;
  font-weight: 500;
  font-family: tajawal;
  background-color: #fff;
  margin: 0 11px;
}

.input-line input::-webkit-input-placeholder {
  color: #b7b7b7;
}

.input-line input:-ms-input-placeholder {
  color: #b7b7b7;
}

.input-line input::-ms-input-placeholder {
  color: #b7b7b7;
}

.input-line input::placeholder {
  color: #b7b7b7;
}

.input-line input:focus {
  border-color: #248387;
}

.input-line span {
  font-size: 17px;
  font-weight: 500;
  color: #707070;
}

.index {
  padding: 120px 0 100px;
  height: calc(100vh - 76px);
  max-height: calc(100vh - 76px);
  overflow: auto;
  background-color: #f5f5f5;
}

.index .users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  padding: 19px 8px 0;
}

.index .user {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
  border-radius: 50%;
  border: 1px solid #b7b7b7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 10px;
}

.index .user img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.index .user.active {
  border-color: #248387;
}

.hints-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 6px 15px;
  background-color: #eeeeee;
}

.hint {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9px 12px;
  font-size: 12px;
  color: #707070;
  font-weight: 500;
  background-color: #fff;
  border-radius: 20px;
}

.hint i {
  font-size: 15px;
  color: #b50000;
  margin-left: 3px;
}

.log {
  background: -webkit-gradient(linear, left top, left bottom, from(#248387), to(#69bec5));
  background: linear-gradient(180deg, #248387 0%, #69bec5 100%);
  overflow: auto;
  max-height: 100vh;
  padding: 50px 30px;
}

.log .log-img {
  width: 230px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.log .log-img img {
  max-width: 100%;
  height: auto;
}

.log-form {
  padding: 40px 31px 70px;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 33px;
  position: relative;
}

.log-form h3 {
  font-size: 20px;
  font-weight: 700;
  color: #707070;
  margin: 0 0 40px;
}

.log-form .forget {
  font-size: 14px;
  font-weight: 500;
  color: #b7b7b7;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.log-form .forget:hover {
  color: #248387;
}

.log-submit {
  width: 74px;
  height: 74px;
  background: -webkit-gradient(linear, left top, left bottom, from(#248387), to(#69bec5));
  background: linear-gradient(180deg, #248387 0%, #69bec5 100%);
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  padding: 7px;
}

.log-submit i {
  cursor: pointer;
  font-size: 37px;
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search-form {
  margin-top: 97px;
  padding: 15px 40px;
  background-color: #f5f5f5;
}

.search-form .search-result-count {
  font-size: 10px;
  color: #707070;
  display: block;
  margin-top: 10px;
}

.search-cont {
  position: relative;
}

.search-cont input {
  background-color: transparent;
  padding: 20px 16px;
}

.search-cont button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  font-size: 27px;
  color: #707070;
  border: none;
  padding: 0;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search-cont button:hover {
  color: #248387;
}

.search-result {
  height: calc(100vh - 220px);
  max-height: calc(100vh - 220px);
  overflow: auto;
  background-color: #f5f5f5;
}

.result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 33px 25px;
  margin-bottom: 3px;
  background-color: #fff;
  text-decoration: none;
}

.result-item:last-of-type {
  margin-bottom: 0;
}

.result-item .user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 19px;
}

.result-item .user-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.result-item .user-name {
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 6px;
  color: #69bec5;
}

.result-item .user-desc {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  color: #707070;
}

.sponsors {
  margin-top: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 14px 7px;
  background-color: #eeeeee;
}

.sponsors .sponsors-head {
  margin: 0;
  padding: 0;
  margin-left: 14px;
  margin-right: 6px;
  font-size: 16px;
  color: #248387;
  font-weight: 700;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.sponsors .sponsors-link {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #248387;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.sponsors .sponsors-link:hover {
  background-color: #69bec5;
}

.sponsors .sponsors-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.sponsors .user {
  margin-left: 14px;
  text-align: center;
}

.sponsors .user-img {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.sponsors .user-img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sponsors .user-name {
  font-size: 11px;
  font-weight: 700;
  color: #707070;
  margin: 2px 0 0;
}

.sponsors .user-money {
  font-size: 11px;
  font-weight: 700;
  color: #248387;
}

.contribute-section {
  height: calc(100vh - 206px);
  max-height: calc(100vh - 206px);
  overflow: auto;
  background-color: #fff;
  padding-top: 29px;
}

.contribute-slider {
  position: relative;
  margin-bottom: 37px;
}

.contribute-slider:last-of-type {
  margin: 0;
}

.contribute-slider .swiper-slide {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contribute-slider .swiper-slide.swiper-slide-prev {
  opacity: 18%;
}

.contribute-slider .swiper-slide.swiper-slide-next {
  opacity: 18%;
}

.contribute-slider .user-center {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contribute-slider .user-name {
  font-size: 15px;
  color: #707070;
  font-weight: 700;
  margin: 10px 0 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contribute-slider .user-name:hover {
  color: #248387;
}

.contribute-slider .user {
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #e9e9e9;
  padding: 9px;
}

.contribute-slider .user-cont {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.contribute-slider .user-img {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.contribute-slider .user-img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contribute-slider .user-money {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 9px 0 14px;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.contribute-slider .swiper-btn {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 33px;
  height: 33px;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #248387;
  border-radius: 50%;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contribute-slider .swiper-btn:hover {
  background-color: #248387;
  color: #fff;
}

.contribute-slider .swiper-btn.swiper-btn-next {
  left: 20px;
}

.contribute-slider .swiper-btn.swiper-btn-prev {
  right: 20px;
}

.settings-section {
  margin-top: 97px;
  height: calc(100vh - 97px);
  max-height: calc(100vh - 97px);
  overflow: auto;
  background-color: #f5f5f5;
}

.checkes-acc {
  background-color: #fff;
  padding: 25px 20px;
  margin: 0 0 6px;
}

.checkes-acc .check {
  margin-right: auto;
  cursor: pointer;
}

.checkes-acc .check .mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 17px;
  height: 17px;
  background: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  font-size: 11px;
  color: #fff;
  margin-left: 10.5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.checkes-acc .check .mark i {
  -webkit-transform: scale(0) rotate(360deg);
          transform: scale(0) rotate(360deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.checkes-acc .check input {
  display: none;
}

.checkes-acc .check input:checked ~ .mark {
  background-color: #248387;
  border-color: #248387;
}

.checkes-acc .check input:checked ~ .mark i {
  -webkit-transform: none;
          transform: none;
}

.checkes-acc .check.dis {
  pointer-events: none;
}

.checkes-acc .check.dis .mark {
  background-color: #b7b7b7;
  border-color: #b7b7b7;
}

.checkes-acc .checks-head {
  cursor: pointer;
}

.checkes-acc .checks-body {
  padding-top: 11px;
  padding-right: 25px;
}

.check-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.check-cont .percent {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  margin-left: 6px;
  display: block;
}

.check-cont .acc-arrow {
  font-size: 17px;
  color: #248387;
}

.check-cont .check-name {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  margin: 0 5px 0;
}

.checks-body .check-cont {
  margin-bottom: 11px;
}

.settings-form .form-item {
  padding: 25px 25px 30px 30px;
  background-color: #fff;
  margin-bottom: 5px;
}

.settings-form .form-head {
  margin: 0;
  padding: 0 0 10px;
  color: #248387;
  font-size: 16px;
  font-weight: 700;
}

.settings-form .form-inputs {
  padding: 0;
  padding-right: 55px;
}

.settings-form .form-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5px 0;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.settings-form .form-line input {
  width: 83px;
  height: 34px;
  border: 1px solid #b7b7b7;
  border-radius: 22px;
  padding: 0 15px;
  padding-left: 22px;
  color: #707070;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 17px;
  font-weight: 500;
  font-family: tajawal;
  background-color: #fff;
  margin: 0;
}

.settings-form .form-line input::-webkit-input-placeholder {
  color: #b7b7b7;
}

.settings-form .form-line input:-ms-input-placeholder {
  color: #b7b7b7;
}

.settings-form .form-line input::-ms-input-placeholder {
  color: #b7b7b7;
}

.settings-form .form-line input::placeholder {
  color: #b7b7b7;
}

.settings-form .form-line input:focus {
  border-color: #248387;
}

.settings-form .form-line label {
  font-size: 16px;
  font-weight: 500;
  color: #707070;
  padding: 0;
  margin: 0;
}

.settings-form .input-relative {
  position: relative;
}

.settings-form .input-relative span {
  font-size: 17px;
  font-weight: 500;
  font-family: tajawal;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  color: #248387;
}

.related {
  padding: 97px 0 60px;
  height: calc(100vh - 76px);
  max-height: calc(100vh - 76px);
  overflow: auto;
  background-color: #f5f5f5;
  border-top: 5px solid #f5f5f5;
}

.related-item {
  margin-bottom: 6px;
  background-color: #fff;
  padding: 30px 0 25px;
}

.related-item .main-user {
  width: 140px;
  margin: auto;
  position: relative;
}

.related-item .main-user .user-img {
  width: 100%;
  height: 140px;
  border: 2px solid #248387;
  border-radius: 50%;
  padding: 8px;
  overflow: hidden;
}

.related-item .main-user .user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.related-item .main-user .user-name {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 38px;
  min-width: 125px;
  background-color: #f5f5f5;
  border-radius: 19px;
  font-size: 14px;
  color: #248387;
  font-weight: 700;
}

.related-item .item-head {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  color: #248387;
  font-weight: 700;
  left: calc(100% + 37px);
}

.related-item .other-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  overflow-x: auto;
  margin-top: 30px;
}

.related-item .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 8.5px;
}

.related-item .user .user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.related-item .user .user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.related-item .user .user-name {
  background-color: #f5f5f5;
  height: 22px;
  width: 71px;
  border-radius: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #707070;
  font-size: 10px;
  font-weight: 700;
  margin-top: 3px;
}

.related-item .user.active .user-name {
  background-color: rgba(36, 131, 135, 0.12);
}

.related-item .add {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #248387;
  width: 125px;
  height: 38px;
  border-radius: 19px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: none;
  margin: 31px auto 0;
  text-decoration: none;
  font-family: tajawal;
}

.related-item .add:hover {
  background-color: #69bec5;
}

.password {
  padding: 125px 23px 100px;
  height: calc(100vh - 76px);
  max-height: calc(100vh - 76px);
  overflow: auto;
  background-color: #f5f5f5;
}

.password .form-submit {
  font-size: 17px;
  color: #fff;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #248387;
  width: 155px;
  height: 46px;
  border-radius: 23px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: none;
  font-family: tajawal;
  cursor: pointer;
  margin: 37px auto 0;
  text-decoration: none;
}

.password .form-submit:hover {
  background-color: #69bec5;
}

.form-inputs {
  background-color: #fff;
  padding: 40px;
  border-radius: 34px;
}

.maneger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maneger label {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.maneger .switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(36, 131, 135, 0.4);
  width: 29px;
  height: 16px;
  border-radius: 12px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.maneger .switcher .handel {
  width: 20px;
  height: 20px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: -4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.maneger .switcher input {
  position: absolute;
  top: 0;
  left: 0;
  right: -4px;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  cursor: pointer;
  margin: 0;
}

.maneger .switcher input:checked {
  left: -4px;
  right: 0;
}

.maneger .switcher input:checked ~ .handel {
  right: calc(100% - 16px);
  background-color: #248387;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

.grandsons {
  padding: 97px 0 60px;
  height: calc(100vh - 76px);
  max-height: calc(100vh - 76px);
  overflow: auto;
  background-color: #f5f5f5;
  border-top: 4px solid #f5f5f5;
}

.grandson-item {
  margin-bottom: 5px;
  background-color: #fff;
  padding: 21px 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.grandson-item:hover {
  background-color: rgba(36, 131, 135, 0.1);
}

.grandson-item .user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 20px;
}

.grandson-item .user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grandson-item .user-name {
  font-size: 17px;
  color: #707070;
  font-weight: 500;
}

.grandson-item .user-name span {
  color: #248387;
}

.grandson-item .user-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  width: 90px;
  height: 37px;
  border-radius: 19px;
  font-size: 15px;
  font-weight: 700;
  background-color: rgba(36, 131, 135, 0.17);
  color: #248387;
}

.grandson-item .user-status.dead {
  background-color: #e2e2e2;
  color: #707070;
}

.calender {
  margin-top: 97px;
  height: calc(100vh - 97px);
  max-height: calc(100vh - 97px);
  overflow: auto;
  background-color: #f5f5f5;
}

.calender #color-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.color-calendar.basic {
  width: 100%;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.color-calendar.basic .calendar__header {
  background-color: #f5f5f5;
  padding-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.color-calendar.basic .calendar__weekdays {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f5f5;
}

.color-calendar.basic .calendar__weekdays .calendar__weekday {
  font-size: 12px;
  color: #707070;
  opacity: 1;
  font-weight: 700;
}

.color-calendar.basic .calendar__days {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.color-calendar.basic .calendar__days .calendar__day .calendar__day-box {
  border-radius: 50% !important;
  aspect-ratio: 1;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 1 !important;
}

.color-calendar.basic .calendar__days .calendar__day .calendar__day-text {
  color: #707070;
  font-family: tajawal;
  font-weight: 700;
  font-size: 19px;
}

.color-calendar.basic .calendar__days .calendar__day.calendar__day-today .calendar__day-box {
  background-color: #f5f5f5;
}

.color-calendar.basic .calendar__days .calendar__day.calendar__day-today:hover .calendar__day-box {
  background-color: #f5f5f5;
}

.color-calendar.basic .calendar__days .calendar__day.calendar__day-selected .calendar__day-box {
  background-color: #248387;
  color: #fff;
}

.color-calendar.basic .calendar__days .calendar__day.calendar__day-selected .calendar__day-text {
  color: #fff;
}

.color-calendar.basic .calendar__days .calendar__day.calendar__day-selected:hover .calendar__day-box {
  background-color: #248387;
  color: #fff;
}

.color-calendar.basic .calendar__days .calendar__day:hover .calendar__day-box {
  background-color: #f5f5f5;
}

.color-calendar.basic .calendar__body {
  padding-top: 0;
  padding: 0;
}

.color-calendar.basic .calendar__arrow-next {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.color-calendar.basic .calendar__arrow-prev {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.color-calendar.basic .calendar__monthyear {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.color-calendar .calendar__picker .calendar__picker-month-option {
  border-radius: 26px;
  overflow: hidden;
  color: #707070;
  font-family: tajawal;
  font-weight: 700;
  font-size: 19px;
  padding: 0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1 !important;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.color-calendar .calendar__picker .calendar__picker-month-option::after {
  background-color: #248387;
}

.color-calendar .calendar__picker .calendar__picker-month-option.calendar__picker-month-selected {
  color: #fff;
}

.color-calendar .calendar__picker .calendar__picker-year-option {
  border-radius: 26px;
  overflow: hidden;
  color: #707070;
  font-family: tajawal;
  font-weight: 700;
  font-size: 19px;
  padding: 0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1 !important;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.color-calendar .calendar__picker .calendar__picker-year-option::after {
  background-color: #248387;
}

.color-calendar .calendar__picker .calendar__picker-year-option.calendar__picker-year-selected {
  color: #fff;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  width: 100%;
  height: 76px;
  margin-bottom: 50px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.footer::after {
  position: absolute;
  bottom: -50px;
  background-color: #fff;
  height: 55px;
  left: 0;
  right: 0;
  content: "";
}

.footer img {
  position: absolute;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% + 18px);
  z-index: -1;
}

.fixed-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #707070;
  font-size: 27px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.fixed-link strong {
  font-size: 12px;
  font-weight: 700;
  display: block;
}

.fixed-link:hover {
  color: #248387;
}

.fixed-link.main-link {
  width: 66px;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 38px;
  background: #248387;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.fixed-link.main-link:hover {
  color: #fff;
  background-color: #69bec5;
}

.fixed-link.active {
  color: #248387;
}
/*# sourceMappingURL=main.css.map */